@import "tailwindcss";

@theme {
 
  --color-runner-bg: #D3D3D3;
  --color-runner-light: #6E8649;
  --color-runner-medium: #477023;
  --color-runner-dark: #2D531A;
  --color-runner-deep: #0D330E;
}


body {
  @apply bg-runner-bg font-sans antialiased;
}